// Color palette from https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
$jh-white: #f8f9fa;
$jh-lighter-gray: #e9ecef;
$jh-light-gray: #dee2e6;
$jh-gray: #adb5bd;
$jh-dark-gray: #495057;
$jh-darker-gray: #343a40;
$jh-black: #212529;

// Define custom variables for bootstrap
